div.side-bar{
    position: fixed;
    right: 0px;
    bottom: 180px;
}




div.side-bar-qlink{
    display: grid;
    grid-template-rows: repeat(5,85px);
    grid-template-columns: 85px;
    grid-row-gap:1px;   
}

div.side-bar-iterm{
    padding-top: 20px;
    text-align: center;
    background-color: white;
    min-height: 65px;
    border: 1px solid rgba(202, 202, 202, 0.37);
}

div.side-bar-iterm a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
}

div.side-bar-iterm a span{
    display: block;
}

div.side-bar-iterm a img{
    height: 30px;
    width: 30px;
}

div#bar-iterm-first{
    position: relative;
}

div#bar-iterm-first span.side-appcode{
    position: absolute;
    display: none;
    min-width: 110px;
    min-height: 130px;
    margin-top: 0px;
    padding: 5px;
    left: -130px;
    top: 0px;
    background-color: white;
    color: black;
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

div#bar-iterm-first span.side-appcode img{
    width : 90px;
    height : 90px;
    padding: 5px;
}

div#bar-iterm-first:hover span.side-appcode{
    display: block;
}

div.side-bar-qup{
    display: none;
    margin-top: 20px;
    padding-bottom: 19px;
    min-width: 85px;
}



@media only screen and (max-width: 1410px){
    div.side-bar{
        top: 400px;
    }

    div.side-bar-qlink{
        display: grid;
        grid-template-rows: repeat(5,40px);
        grid-template-columns: 35px;
        grid-row-gap:1px;   
    }

    div.side-bar-iterm{
        padding-top: 10px;
        min-height: 30px;
        text-align: center;
        background-color: white;
        border: 1px solid rgba(202, 202, 202, 0.37);
    }
    
    div.side-bar-iterm a{
        color: gray;
        text-decoration: none;
        font-size: 14px;
    }

    div.side-bar-iterm a span{
        display: none;
    }
    
    div.side-bar-iterm a img{
        height: 20px;
        width: 20px;
    }

    div.side-bar-qup{
        display: none;
        margin-top: 20px;
        min-width: 20px;
    }
}
